body {
	padding:30px;
	background-image:url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;

}
.header h1 {
	color: white;
	text-align: center;
}

.header {
	background-color: #1a3d75;
	padding:5px;
}


.Artista{
	
	width: 23%;
	margin: 5px;
	padding:3px;
	background-color: #1a3d75;
	color: white;
	font-family: serif;
	text-indent: 30px;
	border: 1px solid #f16d1e;
	
	float: left;
}

